<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I've worked as a photographer, reporter, editor and various other jobs in journalism and government.

			For the past 11 years or more, web development has been my growing passion. From 2005 to 2015, I worked as a multimedia specialist for the Wyoming Department of Workforce Services' Research &amp; Planning section, building static websites and editing publications and online content.

			Not content with producing static websites the same way every day, I began to learn new web technologies and methods.
		</div>
		<br>
	</div>
</div>
